<h1>Timezones</h1>

<p>Shows a list of timezones.</p>

<p *ngIf="!timezones"><em>Loading timezones...</em></p>

<table class='table' *ngIf="timezones">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>
        <a class="btn btn-success" [routerLink]='["/edit-timezone", 0]'>
          Add
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let timezone of timezones">
      <td>{{ timezone.id }}</td>
      <td>{{ timezone.name }}</td>
      <td>
        <a *ngIf="timezone.name!='E. Australia Standard Time'" class="btn btn-primary" [routerLink]='["/edit-timezone", timezone.id]'>
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
