<h1>Timesheets</h1>

<p>Shows a list of timesheets.</p>

<p *ngIf="!timesheets"><em>Loading timesheets...</em></p>

<table class='table' *ngIf="timesheets">
  <thead>
    <tr>
      <th>Id</th>
      <th>Employee</th>
      <th>Timezone</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Rate</th>
      <th>
        <a class="btn btn-success" [routerLink]='["/edit-timesheet", 0]'>
          Add
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let timesheet of timesheets">
      <td>{{ timesheet.id }}</td>
      <td>{{ timesheet.employeeName }}</td>
      <td>{{ timesheet.timezoneName }}</td>
      <td>{{ timesheet.formattedStartDate }}</td>
      <td>{{ timesheet.formattedEndDate }}</td>
      <td>{{ timesheet.rate }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]='["/edit-timesheet", timesheet.id]'>
          Edit
        </a>
      </td>
    </tr>
  </tbody>
</table>
